:root {
  --dashed-blue-color:  #4287f5;
  --red-color: #FF0000;
  --dark-blue-color: #02047e;
  --green-color: #27ae60;
  --purple-color: #9b59b6;
  --dark-orange-color: #e67e22;
}

/* Highlight dashed style */
.highlight-dashed {
  border: 3px dashed var(--dashed-blue-color) !important;
  z-index: 1 !important;
  position: relative;
  display: inline-block;
}

/* Highlight selected styles for different types */
.highlight-selected-1 {
  border: 3px solid var(--red-color) !important;
  z-index: 2 !important;
  position: relative;
  display: inline-block;
}

.highlight-selected-2 {
  border: 3px solid var(--dark-blue-color) !important;
  z-index: 2 !important;
  position: relative;
  display: inline-block;
}

.highlight-selected-3 {
  border: 3px solid var(--green-color) !important;
  z-index: 2 !important;
  position: relative;
  display: inline-block;
}

.highlight-selected-4 {
  border: 3px solid var(--purple-color) !important;
  z-index: 2 !important;
  position: relative;
  display: inline-block;
}

.highlight-selected-5 {
  border: 3px solid var(--dark-orange-color) !important;
  z-index: 2 !important;
  position: relative;
  display: inline-block;
}

/* Common styles for both label classes */
.label {
  all: unset;
  position: absolute;
  left: 0px;
  top: -14px;
  background-color: var(--dashed-blue-color);
  color: white;
  font-size: 10px;
  z-index: 1;
  cursor: pointer;
  box-sizing: content-box;
}

/* Styles for dashed border label */
.label-dashed {
  background-color: var(--dashed-blue-color) !important;
  z-index: 1 !important;
}

/* Styles for selected border label */
.label-selected-1 {
  background-color: var(--red-color) !important;
  z-index: 2 !important;
}

/* Label class for the first highlighted selection */
.label-selected-2 {
  background-color: var(--dark-blue-color) !important;
  z-index: 2 !important;
}

/* Label class for the second highlighted selection */
.label-selected-3 {
  background-color: var(--green-color) !important;
  z-index: 2 !important;
}

/* Label class for the third highlighted selection */
.label-selected-4 {
  background-color: var(--purple-color) !important;
  z-index: 2 !important;
}

/* Label class for the fourth highlighted selection */
.label-selected-5 {
  background-color: var(--dark-orange-color) !important;
  z-index: 2 !important;
}
