body {
    background-color: #ffffff;
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    margin: 0;
    padding: 0;
    font-family: Calibri, serif;
    font-size: 18px;
    color: #1e2b3c;
}

.pink {
    color: #95227d;
}

.bold {
    font-weight: bold;
}

button {
    background-color: #7d81db;
    width: 484px;
    color: #f5f5f5;
    padding: 12px;
    margin-top: 8px;
    border: solid 1px #7d81db;
    border-radius: 8px;
}

button:hover {
    background-color: #151b80;
    cursor: pointer;
}

.bottom {
    margin: 0;
    background-color: #f4f5f6;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
}

.content {
    padding: 16px;
    overflow-wrap: break-word;
}