/* --------------------------------------------------------------
| Design 3
-------------------------------------------------------------- */

/* Header Field
---------------------------------------------- */
.header-field {
  display: flex;
  border-bottom: 2px solid rgb(190, 190, 190);
}

.header-field .extension-text p {
  color: #0F69EF;
  font-size: 36px;
  font-family: Zen Old Mincho;
  letter-spacing: 2.16px;
  margin-bottom: 15px;
}

.header-field .extension-logo {
  margin-left: 20px;
  margin-right: 10px;
}

.header-field .extension-logo img {
  display: block;
  width: 60px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Scan-page button
---------------------------------------------- */
.scan-page-button {
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.scan-page-button button {
  width: 145px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #94227D;
  color: #FFF;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}


/* Headline 
---------------------------------------------- */
.headline {
  display: flex;
  background-color: #94227d17;
  padding: 20px;
  height: 60px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(170, 170, 170);
  margin-left: 20px;
}

.headline .headline-button {
  width: 145px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #94227d;
  color: #FFF;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}


/* Collapsible content 
---------------------------------------------- */

  /* Parent collapsible */
  .collapsible-item {
      background-color: white;
      font-size: 20px;
      margin-top: 10px;
  }

  .collapsible-item-parent .item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 20px;
      border: 1px solid rgb(170, 170, 170);
      height: 40px;
  }

  .collapsible-item-parent .arrow-button {
      font-size: 20px;
      color: grey;
      rotate: 90deg;
      padding: 10px;
  }

  .collapsible-item-parent .buttons-text {
      margin-right: 20px;
  }

  .collapsible-item-parent .toggle-button {
    width: 145px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #f8f8f8;
    color: #000000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
  }

  .collapsible-item-parent .total-buttons {
    border: 1px solid grey;
    background-color: #94227d17;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
  }

      /* Parent collapsible on hover */
      .collapsible-item-parent .item-header:hover {
        border: 1px solid #94227D;
      }

      .collapsible-item-parent .item-header:hover .arrow-button {
        transition: transform 0.3s ease;
        transform: rotate(90deg);
        color: #94227d;
      }

      .collapsible-item-parent .item-header:hover .total-buttons {
        background-color: #94227D;
        color: white;
      }


      /* Parent collapsible on click */
      .collapsible-item-parent .item-header.pressed {
        border: 1px solid #94227D;
      }

      .collapsible-item-parent .item-header.pressed .arrow-button {
        transition: transform 0.3s ease;
        transform: rotate(90deg);
        color: #94227d;
      }

      .collapsible-item-parent .item-header.pressed .total-buttons {
        background-color: #94227D;
        color: white;
      }





  