body {
  background-color: white;
  color: rgb(0, 0, 0);
}


.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 10px;
  text-decoration-color: black;
}

.item-content {
  padding-left: 10px;
  padding-right: 10px;
}

/* Highlight button */
.toggle-button {
  color: white;
  transition: 0.3s all ease-in-out;
  background-color: #21aba6;
  padding: 10px;
  border: solid 2px #21aba6;
  border-radius: 2px;
  margin: 10px;
  cursor:pointer;
}
  
  .toggle-button.pressed {
    background-color: #ab2166;
    border: solid 2px #ab2166;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
/* Jump-to-button */
.regular-button {
  color: rgb(255, 255, 255);
  background-color: #f3a540;
  padding: 10px;
  border: solid 2px #f3a540;
  border-radius: 2px;
  margin: 10px;
  cursor:pointer;
}
  
/* Parent collapsable */
.collapsible-item {
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

.collapsible-item .item-header.pressed {
  background-color: #919191;
}
  
  /* Child collabsable */
  .collapsible-item-child {
    background-color: white;
  }

  .collapsible-item-child:hover {
    background-color: whitesmoke;
  }


/* Parent arrow-button */
  .item-header span.arrow-button {
    color: black;
    font-size: 35px;
  }

  .item-header span.arrow-button.pressed {
    color: rgb(190, 190, 190);
  }

  /* Child arrow-button */
  .collapsible-item-child span.arrow-button {
    color: black;
    font-size: 30px;
    padding-left: 20px;
  }

