/* --------------------------------------------------------------
| Design 3
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Variables */
:root {
  --primary-color: #f8f8f8;
  --secondary-color: #ffffff;
  --tertiary-color: #ececec;
  --quartiary-color: #fbf1c7;

  --purple: #fbf1c7;
  --light-purple: #fffae2;
  --orange: #26394f;
  --light-orange: #26394f;

  --text-color: #ffffff;
  --text-color-inverse: #000000;

  --border-color-primary: var(--primary-color);
  --border-color-secondary: var(--secondary-color);
  --border-color-tertiary: var(--tertiary-color);
  --border-color-quartiary: var(--quartiary-color);
  --border-color-orange: var(--light-orange);
  --border-color-purple: var(--purple);

  --shadow-color: rgba(0, 0, 0, 0.1);

  --good-color: #4ea289;
  --alert-color: #ffd95d;
  --danger-color: #ff2a5c;

  --very-small-font: 0.8rem;
  --small-font: 0.9rem;
  --medium-font: 1rem;
  --big-font: 1.1rem;

  --small-border: 0.16rem solid;
  --big-border: 0.18rem solid;
  --small-shadow: -1px 1px 2px var(--shadow-color);
  --big-shadow: 2px 2px 2px 1px var(--shadow-color);
  --big-shadow-inset: inset 1px 1px 1px 0px var(--shadow-color);
  --radius: 4px;

  --small-space: 0.5rem;
  --medium-space: 1rem;
  --big-space: 4rem;

  --small-padding: 0.6rem;
  --medium-padding: 0.7rem;
  --big-padding: 1.5rem;

  /* highlighting colours to use for elementType headers*/
  --red-color: #FF0000;
  --dark-blue-color: #1051a6;
  --green-color: #27ae60;
  --purple-color: #9b59b6;
  --dark-orange-color: #e88e3e;
}

.dark {
  --primary-color: #292a2d;
  --secondary-color: #35363a;
  --tertiary-color: #383b3e;
  --quartiary-color: #232427;

  --purple: #171f25;
  --light-purple: #152b3b;
  --orange: #fadf75;
  --light-orange: #ffeca0;

  --text-color: #030303;
  --text-color-inverse: #d9d9d9;

  --border-color-primary: var(--primary-color);
  --border-color-secondary: var(--secondary-color);
  --border-color-tertiary: var(--tertiary-color);
  --border-color-quartiary: var(--quartiary-color);
  --border-color-orange: var(--light-orange);
  --border-color-purple: var(--light-purple);

  --shadow-color: rgba(0, 0, 0, 0.36);
  --border: 0rem solid var(--tertiary-color);

  --good-color: #71eec8;
  --alert-color: #fcd452;
  --danger-color: #fd1f54;
}

/* Reset some browser's styles */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.App {
  flex-grow: 1;
  background-color: var(--primary-color);
  min-height: 100vh;
}

/*
Responsiveness.
12 columns that get 100% width when the size is small enough.
*/
* {
  box-sizing: border-box;
}

/* Small: */
[class*="col-"] {
  width: 100%;
  float: left;
}

/* Full width: */
@media only screen and (min-width: 400px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 60%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

.row {
  padding: var(--small-padding);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Font */
.big-font {
  font-size: var(--big-font);
  font-weight: bolder;
  padding: var(--big-padding);
}

/* Buttons */
.toggle-button {
  width: auto;
  border-radius: var(--radius);
  box-shadow: var(--big-shadow);
  background: var(--orange);
  color: var(--text-color);
  font-size: var(--very-small-font);
  border: none;
}

.toggle-button.pressed {
  background: var(--purple);
  box-shadow: var(--big-shadow-inset);
  border-color: var(--border-color-purple);
  color: var(--text-color-inverse);
}

/* Header Field
---------------------------------------------- */
.header-field {
  background-color: var(--secondary-color);
  color: var(--orange);
  font-weight: bold;
  display: flex;
  padding: var(--big-padding);
  align-items: center;
  text-align: center;
  width: 100%;
}

.header-field .extension-text p {
  font-size: var(--big-font);
}

.header-field .extension-logo {
  padding: var(--big-padding);
}

.header-field .extension-logo img {
  display: block;
  width: 60px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.dark-toggle-button {
  margin: var(--medium-padding);
  padding: var(--medium-padding);
  border-radius: var(--radius);
  border: none;
  float: right;
  background: var(--secondary-color);
  color: var(--orange);
  box-shadow: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: var(--very-small-font);
}

.dark-toggle-button:hover {
  cursor: pointer;
}

/* Scan-page field
---------------------------------------------- */
.scan-page-field {
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  margin: 0;
  height: 100%;
}

.scan-page-field .welcome-text {
  padding: var(--medium-padding)
}

.scan-page-field button {
  margin: var(--medium-padding);
  padding: var(--medium-padding);
  border-radius: var(--radius);
  border: none;
  background: var(--orange);
  color: var(--text-color);
  box-shadow: var(--big-shadow);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: var(--very-small-font);
}

.scan-page-field button:hover {
  cursor: pointer;
}

.scan-page-field button:active {
  background: var(--primary-color);
}

/* Headline ---------------------------------------------- */
.headline {
  padding: var(--medium-padding);
  font-weight: bolder;
  font-size: var(--medium-font);
  background-color: var(--light-purple);
  box-shadow: var(--big-shadow);
  border-radius: var(--radius);
  border: 2px solid var(--purple);
  word-break: break-all;
}

.headline .headline-button {
  width: auto;
  border-radius: var(--radius);
  border: none;
  background: var(--orange);
  color: var(--text-color);
  box-shadow: var(--big-shadow);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: var(--very-small-font);
  word-break: normal;
}

.headline .headline-button:hover {
  cursor: pointer;
}

.headline .headline-button:active {
  background: var(--primary-color);
}

.headline img {
  margin-top: var(--small-padding);
  height: 3rem;
  width: 3rem;
}

/* Collapsible content ---------------------------------------------- */
#collapsible-level-1 {
  height: auto;
  margin-top: var(--small-space);
  margin-bottom: var(--small-space);
  border-radius: var(--radius);
  border: dotted 2px var(--secondary-color);
  background-color: var(--secondary-color);
  box-shadow: var(--big-shadow);
  color: var(--text-color-inverse);
}

.collapsible-level-1:hover {
  cursor: pointer;
  box-shadow: var(--big-shadow);
  border: dotted 2px var(--purple);
}

.total-buttons {
  margin: 0;
  padding: 0;
}

/* Child collapsible */
.collapsible-level-1-content {
  margin: 0;
  padding: 0;
  cursor: default;
}

.collapsible-level-1-content .buttons-text {
  font-size: var(--small-font);
  margin: 0;
  padding: 0;
}

/* Collapsible-level-2 */
#collapsible-level-2 {
  height: auto;
  margin-top: var(--small-space);
  margin-bottom: var(--small-space);
  border-radius: var(--radius);
  border: solid 2px var(--purple);
  background-color: var(--light-purple);
  box-shadow: var(--big-shadow);
  color: var(--text-color-inverse);
}

.yesColor {
  color: var(--good-color);
  font-weight: bold;
}

.noColor {
  color: var(--danger-color);
  font-weight: bold;
}

/* Content data */
.content-data {
  margin: 0;
}

.tableHead {
  height: var(--small-space);
  padding: var(--medium-padding);
  border-collapse: collapse;
  border: var(--small-border) var(--light-orange);
  border-radius: var(--radius);
  table-layout: fixed;
  cursor: text;
  background-color: var(--light-orange);
  color: var(--text-color);
  box-shadow: var(--small-shadow);
  font-size: var(--very-small-font);
  text-align: left;
}

.tableBody {
  padding: var(--medium-padding);
  border-radius: var(--radius);
  table-layout: fixed;
  cursor: text;
  border: var(--small-border) var(--border-color-tertiary);
  color: var(--text-color-inverse);
  box-shadow: var(--small-shadow);
  font-size: var(--very-small-font);
  background-color: var(--primary-color);
}

.tableHead.attribute {
  min-width: 150px;
  width: 1%;
}

.tableHead.value {
  width: auto;
}

.extra-padding {
  padding-left: 0.11rem;
  padding-right: 0.11rem;
}

.extra-padding-vertical {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Comment box */
.comment-box {
  border-radius: var(--radius);
  width: 100%;
  display: hidden;
  padding-left: 0.11rem;
  padding-right: 0.11rem;
  margin: var(--medium-space) 0;
}

.comment-box .textarea {
  border-radius: var(--radius);
  border: none;
  padding: var(--medium-padding);
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  box-shadow: var(--big-shadow-inset);
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  border: var(--big-border) var(--border-color-orange);
}

/* Radioboxes */
.radio-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.radio-button label {
  display: inline-block;
  cursor: pointer;
}

.radio-button {
  padding: var(--medium-padding);
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--big-shadow);
  text-align: center;
  background: var(--primary-color);
  color: var(--text-color-inverse);
  font-size: var(--very-small-font);
  cursor: pointer;
  margin-bottom: var(--small-padding);
}

.radio-button input[type="radio"] {
  display: none;
}

/* Radiobox on hover */
.radio-button:hover {
  cursor: pointer;
  box-shadow: var(--big-shadow-inset);
}

/* Radiobox selected */
.radio-button.active {
  background-color: var(--orange);
  color: var(--text-color);
}

#the-toasht {
  background-color: var(--alert-color);
  border-radius: var(--radius);
  color: #000000;
  border: 0;
  box-shadow: var(--big-shadow);
}

.error-message {
  color: var(--danger-color);
  font-weight: bold;
}

.complete-message {
  color: var(--good-color);
  font-weight: bold;
}

/* Text to display highlighting colours of elementTypes */
.red-type-parent {
  color: var(--red-color);
}

.dark-blue-type-parent {
  color: var(--dark-blue-color);
} 

.green-type-parent {
  color: var(--green-color);
}

.purple-type-parent {
  color: var(--purple-color);
}

.dark-orange-type-parent {
  color: var(--dark-orange-color);
}
