/* --------------------------------------------------------------
| Design 3
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Variables */
:root {
  --primary-color: #f6f6f6;
  --secondary-color: #ffffff;
  --tertiary-color: #edeef0;
  --quartiary-color: #FFFBF2;

  --purple: #94227D;
  --light-purple: #9a618f;
  --orange: #ffa046;
  --light-orange: #ffc691;

  --text-color: #ffffff;
  --text-color-inverse: #000000;

  --border-color-primary: var(--primary-color);
  --border-color-secondary: var(--secondary-color);
  --border-color-tertiary: var(--tertiary-color);
  --border-color-orange: var(--light-orange);
  --border-color-purple: var(--light-purple);

  --shadow-color: rgba(0,0,0,0.1);

  --good-color: #4ea289;
  --alert-color: #fddc6e;
  --danger-color: #ff2a5c;

  --very-small-font: 0.8rem;
  --small-font: 0.9rem;
  --medium-font: 1rem;
  --big-font: 1.2rem;

  --small-border: 1px solid;
  --big-border: 1px solid;
  --small-shadow: -1px 1px 2px var(--shadow-color);
  --big-shadow: 1px 1px 1px 0px var(--shadow-color);
  --big-shadow-inset: inset 1px 1px 1px 0px var(--shadow-color);
  --radius: 4px;

  --small-space: 0.5rem;
  --medium-space: 1rem;
  --big-space: 4rem;

  --small-padding: 0.6rem;
  --medium-padding: 0.7rem;
  --big-padding: 1rem;
}

.dark {
  --primary-color: #292a2d;
  --secondary-color: #35363a;
  --tertiary-color: #383b3e;
  --quartiary-color: #232427;

  --purple: #ffe797;
  --light-purple: #fff1cc;
  --orange: #71d4ff;
  --light-orange: #9ce0ff;

  --text-color: #030303;
  --text-color-inverse: #d9d9d9;

  --border-color-primary: var(--primary-color);
  --border-color-secondary: var(--secondary-color);
  --border-color-tertiary: var(--tertiary-color);
  --border-color-orange: var(--light-orange);
  --border-color-purple: var(--light-purple);

  --shadow-color: rgba(0, 0, 0, 0.36);
  --border: 0rem solid var(--tertiary-color);

  --good-color: #71eec8;
  --alert-color: #fcd452;
  --danger-color: #fd1f54;
}

/* Reset some browser's styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.App {
  flex-grow: 1;
  background-color: var(--primary-color);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Small: */
[class*="col-"] {
  width: 100%;
  float: left;
}

/* Full width: */
@media only screen and (min-width: 400px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 60%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%; 
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

.row {
  margin-top: var(--small-space);
  padding: var(--small-padding);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.whitebox {
  background-color: var(--secondary-color);
  border-radius: var(--radius);
  overflow-wrap: break-word;
  box-shadow: var(--big-shadow);
}

/* Header Field
---------------------------------------------- */
.header-field {
  background-color: var(--secondary-color);
  color: var(--purple);
  font-weight: bolder;
  display: flex;
  padding: var(--big-padding);
  align-items: center;
  text-align: center;
}

.header-field .extension-text p {
  font-size: var(--big-font);
}

.header-field .extension-logo {
  padding: var(--big-padding);
}

.header-field .extension-logo img {
  display: block;
  width: 60px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.dank-toggle-button {
  margin: var(--medium-padding);
  padding: var(--medium-padding);
  border-radius: var(--radius);
  border: none;
  background: var(--primary-color);
  color: var(--text-color-inverse);
  box-shadow: var(--big-shadow);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: var(--very-small-font);
}

.dank-toggle-button:hover {
  cursor: pointer;
}

/* Scan-page field
---------------------------------------------- */
.scan-page-field {
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  margin: 0;
  height: 100%;
}

.scan-page-field .welcome-text {
  padding: var(--medium-padding)
}

.scan-page-field button {
  margin: var(--medium-padding);
  padding: var(--medium-padding);
  border-radius: var(--radius);
  border: none;
  background: var(--purple);
  color: var(--text-color);
  box-shadow: var(--big-shadow);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: var(--very-small-font);
}

.scan-page-field button:hover {
  cursor: pointer;
}

.scan-page-field button:active {
  background: var(--primary-color);
}

/* Headline ---------------------------------------------- */
.headline {
  padding: var(--medium-padding);
  font-weight: bolder;
  font-size: var(--medium-font);
  background-color: var(--quartiary-color);
  box-shadow: var(--big-shadow);
  border-radius: var(--radius);
  border: var(--big-border) var(--border-color-orange);
}

.headline .headline-button {
  width: auto;
  border-radius: var(--radius);
  border: none;
  background: var(--orange);
  color: var(--text-color);
  box-shadow: var(--big-shadow);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: var(--very-small-font);
}

.headline .headline-button:hover {
  cursor: pointer;
}

.headline .headline-button:active {
  background: var(--primary-color);
}

.headline img {
  margin-top: var(--small-padding);
  height: 3rem;
  width: 3rem;
}

/* Collapsible content ---------------------------------------------- */

/* Parent collapsible */
.collapsible-item {

}

.collapsible-item-parent {
  margin-top: var(--small-space);
  border-radius: var(--radius);
  background-color: var(--secondary-color);
  padding: var(--small-padding);
  box-shadow: var(--big-shadow);
  transition: box-shadow 0.02s ease-in-out;
  font-size: var(--medium-font);
  border: var(--border);
}

.collapsible-item-parent .item-header {
}

.collapsible-item-parent .toggle-button {
  width: auto;
  border-radius: var(--radius);
  box-shadow: var(--big-shadow);
  background: var(--purple);
  color: var(--text-color);
  font-size: var(--very-small-font);
  border: none;
}

.total-buttons {
  margin: 0;
  padding: 0;
}

.buttons-text {
  font-size: var(--small-font);
  padding: var(--medium-padding);
}

.checkbox-button.pressed {
}

.checkbox-button.error {
  background: var(--tertiary-color);
  border: var(--border);
  box-shadow: var(--big-shadow);
}

.checkbox-button.error.pressed {
  background-color: var(--danger-color);
  color: var(--text-color-inverse);
  box-shadow: var(--big-shadow-inset);
}

.checkbox-button.checked {
  background: var(--tertiary-color);
  border: var(--border);
  box-shadow: var(--big-shadow);
}

.checkbox-button.checked.pressed {
  background-color: var(--alert-color);
  color: var(--text-color-inverse);
  box-shadow: var(--big-shadow-inset);
}

/* Parent collapsible on hover */
.collapsible-item-parent:hover {
  cursor: pointer;
  box-shadow: var(--big-shadow);
}

.collapsible-item-parent .item-header .toggle-button:hover {
  cursor: pointer;
}

/* Parent collapsible on click */
.collapsible-item .item-header.pressed {
}

.collapsible-item-parent .item-header.pressed .total-buttons {
}

.collapsible-item-parent .item-header .toggle-button.pressed {
  background: var(--orange);
  box-shadow: var(--big-shadow-inset);
  border-color: var(--border-color-purple);
}

/* Child collapsible */
.collapsible-item-children {
}

.collapsible-item-children .item-header {
  display: block;
  padding-left: var(--medium-padding);
  border-radius: var(--radius);
  box-shadow: var(--big-shadow);
  background-color: var(--primary-color);
  margin-left: var(--small-space);
  margin-right: var(--small-space);
  font-size: var(--small-font);
  border: var(--big-border) var(--border-color-tertiary);
}

.collapsible-item-children .buttons-text{
  font-size: var(--small-font);
  padding: var(--medium-padding);
}

.collapsible-item-children .item-header .flex-item {
}

.collapsible-item-children .item-header .toggle-button {
  padding: var(--medium-padding);
  border-radius: var(--radius);
  border: var(--big-border) var(--border-color-purple);
  background: var(--purple);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: var(--very-small-font);
}

.collapsible-item-child .item-header .toggle-button:hover {
  cursor: pointer;
  background: var(--light-purple);
}

/* Child collapsible on hover */
.collapsible-item-child .item-header:hover {
  cursor: pointer;
  box-shadow: var(--big-shadow);
  border-color: var(--border-color-orange)
}

/* Child collapsible on click */
.collapsible-item-child .item-header.pressed {
  box-shadow: var(--big-shadow-inset);
  background-color: var(--quartiary-color);
  border: var(--big-border) var(--border-color-orange);
  color: var(--text-color-inverse);
}

.collapsible-item-child .item-header.pressed .toggle-button {
}

.collapsible-item-child .item-header .toggle-button.pressed {
  background: var(--orange);
}

/* Content data */
.collapsible-item-child .content-data {
  margin: 0;
}

.tableHead {
  height: var(--small-space);
  padding: var(--medium-padding);
  border-collapse: collapse;
  border-spacing: 100px;
  border: var(--small-border) var(--border-color-orange);
  border-radius: var(--radius);
  table-layout: fixed;
  cursor: text;
  background-color: var(--light-orange);
  color: #0c0c0c;
  box-shadow: var(--small-shadow);
  font-size: var(--very-small-font);
  text-align: left;
}

.tableBody {
  padding: var(--medium-padding);
  border-radius: var(--radius);
  table-layout: fixed;
  cursor: text;
  border: var(--small-border) var(--border-color-tertiary);
  border-spacing: 100px;
  color: var(--text-color-inverse);
  box-shadow: var(--small-shadow);
  font-size: var(--very-small-font);
  background-color: var(--primary-color);
}

.tableHead.attribute {
  min-width: 150px;
  width: 1%;
}

.tableHead.value {
  width: auto;
}

.tableBody.attribute {
}

.tableBody.value {
}

.tss {
  background-color: #ff2a5c;
}

/* Comment box */
.collapsible-item-child .comment-box {
  border-radius: var(--radius);
  width: 100%;
  display: hidden;
  margin-top: var(--medium-space);
  margin-bottom: var(--medium-space);
  padding: 0;
  background-color: var(--secondary-color);
}

.collapsible-item-child .comment-box .textarea {
  border-radius: var(--radius);
  border: var(--small-border) var(--border-color-tertiary);
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: var(--medium-padding);
  box-shadow: var(--big-shadow-inset);
  background-color: var(--primary-color);
  color: var(--text-color-inverse)

}

/* Radioboxes */
.collapsible-item-child .radio-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.collapsible-item-child .radio-button  label {
  display: inline-block;
  cursor: pointer;
}

.collapsible-item-child .radio-button  {
  padding: var(--small-padding);
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--big-shadow);
  background: var(--purple);
  color: var(--text-color);
  font-size: var(--very-small-font);
  cursor: pointer;
  margin-bottom: var(--small-padding);
  width: 98%;
}

.collapsible-item-child .radio-button  input[type="radio"] {
  display: none;
}

/* Radiobox on hover */
.collapsible-item-child .radio-button:hover {
  cursor: pointer;
  box-shadow: var(--big-shadow-inset);
}

/* Radiobox selected */
.collapsible-item-child .radio-button.active {
  background-color: var(--orange);
}

